<!DOCTYPE html>
<html lang="en">

<head>
    <title>MathSpace! Home</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
</head>

<body class="content">

<%- include(`partials/header`); %>

<main class="main">
    <section class="primary-color-bg">
        <div class="container">
            <div class="centered-container">
                <h1>MathSpace admin page! </h1>
                <h2>Using admin page </h2>
                <p style="text-align: justify">
                    Welcome to the admin page for mobile game MathSpace! Work on this page is still in progress,
                    so don't be angry at me for make it looks so bad and having bugs! :=)
                    <br/>
                    Idea of the mobile game is to practice and/or learn math while having fun. This is where
                    MathSpace mobile game comes for. If you accidentally came to this site without knowing about the
                    mobile game, fell free to try the game anyways. You can download it at :
                    <a class="link" href="#">SAD OVDJE NEKI LINK KAO</a>
                    <br/>

                    After you <a class="link" href="/login">login </a> in your account (if you don't have one yet, you can make it
                    <a class="link" href="/signup">here</a>) you are able to make new game room in which YOU ARE the one who creates
                    game
                    settings. After the student downloads settings on it's phone and finishes game, his results will be
                    sent directly to you and you will be able to see more info about his game, not only his higscore,
                    but also other settings like tasks he made mistakes on and how excatly it happened.
                </p>

                <h2>How to download settings on the phone! </h2>
                <p style="text-align: justify">
                    Downloading is generally easy process. To download settings and set them for being used just open
                    settings in your <i>MathSpace!</i> game on your phone. Proceed with pressing <i>Download
                        settings</i>.
                    <br/>
                    Make sure to set your nickname first, after that write code that you can find in the description of
                    the setting you've made.
                    Click <i>Download</i> button. <b><u>It's that simple!</u></b> Settings are now downloaded on to the
                    phone!

                    Make sure you go one step back in settings (first setting menu) and pick what settings you want to
                    use in the game while playing. When you have settings on your phone, you have two options. You can
                    either use downloaded settings or default settings.
                </p>
            </div>
        </div>
    </section>
</main>

<%- include(`partials/footer`); %>

</body>

</html>
