<!DOCTYPE html>
<html lang="en">

<head>
    <title>MathSpace! User</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
</head>

<body class="content">

<%- include(`partials/header`); %>

<main class="main">
    <section class="primary-color-bg">
        <div class="container">
            <div class="centered-container">
                <h1>MathSpace admin page! </h1>
                <h2>Using admin page </h2>
                <p>
                    Neki random Tekst! Neki random Tekst! Neki random Tekst! Neki random Tekst!
                    Neki random Tekst! Neki random Tekst! Neki random Tekst! Neki random Tekst!
                    Neki random Tekst! Neki random Tekst! Neki random Tekst! Neki random Tekst!
                    Neki random Tekst! Neki random Tekst! Neki random Tekst! Neki random Tekst!
                    Neki random Tekst! Neki random Tekst! Neki random Tekst! Neki random Tekst!
                    Neki random Tekst! Neki random Tekst! Neki random Tekst! Neki random Tekst!
                    Neki random Tekst! Neki random Tekst! Neki random Tekst! Neki random Tekst!
                    Neki random Tekst! Neki random Tekst! Neki random Tekst! Neki random Tekst!
                    Neki random Tekst! Neki random Tekst! Neki random Tekst! Neki random Tekst!
                </p>

                <h2>How to download settings on the phone! </h2>
                <p>
                    Neki random Tekst! Neki random Tekst! Neki random Tekst! Neki random Tekst!
                    Neki random Tekst! Neki random Tekst! Neki random Tekst! Neki random Tekst!
                    Neki random Tekst! Neki random Tekst! Neki random Tekst! Neki random Tekst!
                    Neki random Tekst! Neki random Tekst! Neki random Tekst! Neki random Tekst!
                    Neki random Tekst! Neki random Tekst! Neki random Tekst! Neki random Tekst!
                    Neki random Tekst! Neki random Tekst! Neki random Tekst! Neki random Tekst!
                    Neki random Tekst! Neki random Tekst! Neki random Tekst! Neki random Tekst!
                    Neki random Tekst! Neki random Tekst! Neki random Tekst! Neki random Tekst!
                    Neki random Tekst! Neki random Tekst! Neki random Tekst! Neki random Tekst!
                </p>

                <h2>How to nešta treće! </h2>
                <p>
                    Neki random Tekst! Neki random Tekst! Neki random Tekst! Neki random Tekst!
                    Neki random Tekst! Neki random Tekst! Neki random Tekst! Neki random Tekst!
                    Neki random Tekst! Neki random Tekst! Neki random Tekst! Neki random Tekst!
                    Neki random Tekst! Neki random Tekst! Neki random Tekst! Neki random Tekst!
                    Neki random Tekst! Neki random Tekst! Neki random Tekst! Neki random Tekst!
                    Neki random Tekst! Neki random Tekst! Neki random Tekst! Neki random Tekst!
                    Neki random Tekst! Neki random Tekst! Neki random Tekst! Neki random Tekst!
                    Neki random Tekst! Neki random Tekst! Neki random Tekst! Neki random Tekst!
                    Neki random Tekst! Neki random Tekst! Neki random Tekst! Neki random Tekst!
                </p>
            </div>
        </div>
    </section>
</main>

<%- include(`partials/footer`); %>

</body>

</html>
