<footer class="footer">
    <div class="container">
        <div class="menu">
                <h4>
                   ... and that is the end of the page!
                </h4>
        </div>
    </div>
</footer>
